<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MathNet.Numerics.Signed" version="5.0.0" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.4.0" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.4.0" targetFramework="net461" />
  <package id="NCDK" version="1.6.1" targetFramework="net461" />
  <package id="RDKit.DotNetWrap" version="0.2021094.2" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
</packages>